
@font-face {
	font-family: 'TH Baijam';
	src: url('THBaijam.eot');
	src: url('THBaijam.eot?#iefix') format('embedded-opentype'),
		url('THBaijam.woff') format('woff'),
		url('THBaijam.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
