<div class="panel panel-info">
    <div class="panel-heading">Configuration</div>
    <div class="panel-body">
        <form>
            <div>
                <label>Database</label>
                <select name="" id="" class="form-control"></select>
            </div>
            <div>
                <label>การเข้ารหัส</label>
                <input type="text" class="form-control" name="character" id="character">
                <label style="color:red;">*รหัสผ่านต้องมี 6 หลักขึ้นไป</label>
            </div>
            <div class="text-right" style="margin-top:5px">
                <button class="btn btn-warning">Reset</button>
                <button class="btn btn-primary">Start</button>
            </div>
        </form>
    </div>
</div>