<div class="row">
    <div class="col-md-4 col-xs-4" id="setting-dev-select-type">
        <div id="setting-histype">
            <script>
                $("#setting-histype").load("./view/setting/setting-histype.html");
            </script>
        </div>
    </div>
    <!-- setting-dev-select-type -->
    <div class="col-md-4 col-xs-4" id="setting-dev-database-type">
        <div id="setting-database-type">
            <script>
                $("#setting-database-type").load("./view/setting/setting-database-type.html");
            </script>
        </div>
    </div>
    <!-- setting-dev-database-type -->

    <div class="col-md-4 col-xs-4" id="setting-dev-configuration">
        <div id="setting-configuration">
            <script>
                $("#setting-configuration").load("./view/setting/setting-configuration.html");
            </script>
        </div>
    </div>
    <!-- setting-dev-database-type -->
</div>