<div class="panel panel-info">
    <div class="panel-heading">Database type</div>
    <div class="panel-body">
        <form>
            <div>
                <label>Hose name</label>
                <input type="text" class="form-control" name="host" id="host" placeholder="192.168.0.2">
            </div>
            <div>
                <label>Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="root">
            </div>
            <div>
                <label>Password</label>
                <input type="text" class="form-control" name="password" id="password" placeholder="">
            </div>
            <div>
                <label>Port</label>
                <input type="text" class="form-control" name="port" id="port" placeholder="3306">
            </div>
            <div class="text-right" style="margin-top:5px">
                <button class="btn btn-primary">Connect</button>
            </div>
        </form>
    </div>
</div>