<div class="container-fluid" style=" font-family: 'TH Baijam';text-align:justify">
    <div class="row">
        <div class="jumbotron">
            <span class="text-bold" style="font-size: 35px;">เงื่อนไขการใช้งาน</span>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thai Care Cloud เป็นระบบ web application ที่พัฒนาขึ้นภายใต้ข้อตกลงความร่วมมือระหว่างกรมการแพทย์
                กระทรวงสาธารณสุข กับมหาวิทยาลัยขอนแก่น เพื่อเป็นฐานข้อมูลสุขภาพ ที่มุ่งเอื้อให้บริการทางการแพทย์และสาธารณสุข
                มีประสิทธิภาพ โดยที่มีการรักษาความลับของผู้ป่วย ด้วยการเข้ารหัสก่อนส่งผ่านข้อมูลด้วยระบบ Secure Sockets Layer
                (SSL) 128 bits นอกจากนั้น ยังมีการเข้ารหัสเลขประจำตัวประชาชน ชื่อ และนามสกุลผู้รับบริการอีกชั้นหนึ่ง ที่มีเฉพาะหน่วยบริการเจ้าของข้อมูลเท่านั้นที่สามารถถอดรหัสได้
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดังนั้น หากมีการรั่วไหลของข้อมูล รหัสเลขประจำตัวประชาชน
                ชื่อ และนามสกุลผู้รับบริการ ถือเป็นความรับผิดชอบของหน่วยบริการสาธารณสุขที่เข้าร่วมโครงการ และเป็นเรื่องที่นอกเหนือความรับผิดชอบของคณะผู้พัฒนาระบบ
                Thai Care Cloud </p>
            <!--            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การที่ท่านคลิก [ยอมรับ] หมายถึงท่านได้ยอมรับเงื่อนไขการใช้งานข้างต้น </p><hr>-->
            <div class="pull-right"></div><br>
        </div>
    </div>
</div>